
body, html {
  height: 100%;
  margin: 0;
}

/* montreal */

.bg-mtl {
background-image: url("../images/ftd/dashboard-mtl-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
 margin: 0;
 padding: 0;
}

@media screen and (min-device-width: 1200px) {

  .bg-mtl {
  background-image: url("../images/ftd/dashboard-mtl-1.png");
}
}


