@charset "UTF-8";

html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
	margin: 0;
}

html { 
  font-family: 'Raleway',sans-serif;
  background-color: #FFF;
}

a:-webkit-any-link {
    text-decoration: none !important;
}

.img-flex {
  width: 100%;
}


/* Nav ------------------------------------------- */
.logo {
  width: 8rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: .5rem;
  padding-top: 1rem;
}

.nav-list {
  text-align: center;
  padding-top: .5rem;
  padding-left: 0;
  margin: 0;
  color: #000;
}

.nav-list a {
  color: #000;
}

.nav-list a::before,
.nav-list a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.nav-list a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.nav-list a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.nav-list a:hover::before,
.nav-list a:hover::after,
.nav-list a:focus::before,
.nav-list a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

.nav-item {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
}

@media only screen and (min-width: 50em) {
  .logo {
    margin-right: 0;
    margin-top: -3rem;
    float: left;
    margin-left: 16%;
  }

  .nav {
    padding-top: 5%;

  }

  h1 {
  float: left;
  padding-top: .25rem;
  padding-left: 1rem;
   }
}


@media only screen and (min-width: 50em) {
  .nav-list {
    float: right;
    margin-right: 12.75%;
  }

}

@media only screen and (min-width: 60em) {
  .nav-list {
    margin-right: 14%;
  }
}


/* Grid ------------------------------------------- */

.grid {
  overflow: hidden;
  clear: both;
  padding-top: 2rem;
  margin: 0 auto;
}

.unit {
  background-color: #fff;
  float: left;
}

.gutter {
  padding: .5rem;
}

.unit-s-1-2 {
  width: 50%;
}

@media only screen and (min-width:42em) {
  
  .grid {
    width: 70%;
  }

  .unit-m-1-2 {
    width: 50%;
  }
}


@media only screen and (min-width:80em) {

  .grid {
    width: 70%;
  }

  .gutter {
    padding: 1rem;
  }

  .unit-l-1-4 {
    width: 25%;
  }
  
}

.graphic {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.graphic figcaption {
  text-align: center;
  background-color: rgba(0,0,0,0.7);
  font-size: 12px;
  letter-spacing: 1.5px;
  color: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
  position: absolute;
  bottom: -7em;
  width: 100%;
  transition: all 400ms linear;
}

.graphic:hover figcaption {
  bottom: .25rem;
}

/* Projects */

.projects {
	width: 100%;
  height: auto;
  padding: 10px 0 75px 0;
}

.projectcontainer {
    width: 900px;
    max-height: 0;
    overflow: hidden;
    padding-top: 4rem;
    position: absolute;
    left: 50%;
    margin-left: -450px;
}

.project-wrapper {
  padding: 0 0 75px 0;
}

.projectcontainer[data-state="open"] {
  max-height: 35em;
}

.slider {
	width: 600px;
	margin: 0 auto;
  float: left;
}

.description {
    background-color: #fafafa;
    width: 250px;
    height: 397px;
    float: left;
    padding: 0 25px 0 25px;
}

.description h2 {
  padding-top: 1rem;
}


/* Slider ------------------------------------------- */
.slide-img {
  width: 100%;
}

.rslides {
  margin: 0 auto;
  }

.rslides_container {
  margin: 0 auto;
  position: relative;
  float: none;
  width: 600px;
  }

.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  margin-top: -45px;
  content: url("../images/arrow-left.svg"); no-repeat left 50%;
  }

.centered-btns_nav:active {
  opacity: 1.0;
  }

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  content: url("../images/arrow-right.svg"); no-repeat left 50%;
  }

.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff;
  opacity: 0;
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.transparent-btns_nav.next {
  left: auto;
  right: 0;
  }

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 42%;
  bottom: 0;
  left: 10px;
  width: 38px;
  }

.large-btns_nav:active {
  opacity: 1.0;
  }

.large-btns_nav.next {
  left: auto;
  right: 10px;
  content: url("../images/arrow-right.svg"); no-repeat left;
  }


.large-btns_nav.prev {
  content: url("../images/arrow-left.svg"); no-repeat left;
}

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none;
  }

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  text-align: center;
  margin: 0;
  }

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.centered-btns_tabs {
    padding-left: 0px !important;
}

.large-btns_tabs {
    padding-left: 0px !important;
    margin: 0;
}

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: rgba(0,0,0,0.1);
  display: inline-block;
  width: 9px;
  height: 9px;
  }

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: rgba(0,0,0,0.6);
  }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear:both;
}

@media (min-width: 600px) and (max-width: 1024px) {

    .rslides_container {
        width: 600px;
    }
    
    .projectcontainer {
        width: 600px;
        height: auto;
        padding: 5px 0 0 0;
        left: 50%;
        margin-left: -300px;
    }

    .slider {
        width: auto;
        float: none;
    }
    
    .description {
        background-color: #fafafa;
        width: auto;
        height: auto;
        float: none;
        padding: 0px 25px 25px 25px;
    }

    .large-btns_tabs {
      background-color: #fafafa;
      padding-top: 1rem;
    }


}


@media (min-width: 0px) and (max-width: 599px) {
    
    .rslides_container {
        width: 100%;
    }
    
    .projectcontainer {
        width: 100%;
        height: auto;
        padding: 0 0 0 0;
        margin: 0;
        left: 0;

    }

    .projects {
        padding: 10px 0 0 0;
    }

    .slider {
        width: 100%;
        float: none;
    }
    
    .description {
        background-color: #fafafa;
        width: auto;
        height: 225px;
        float: none;
        padding: 0 25px 0 25px;
    }

    .large-btns_tabs {
      background-color: #fafafa;
      padding-top: 1rem;
    }

    
}


/* Contact ------------------------------------------- */

#contact {
    background-color: #DBDBDB;
    height: auto;
    width: 100%;
    padding: 75px 0 75px 0;
}

.contact-info {
	height: auto;
	margin: 0 auto;
	padding: 0 40px 0 40px;
	max-width:700px;
  text-align: justify;
}


.email h2::before,
.email h2::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.email h2::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.email h2::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.email h2:hover::before,
.email h2:hover::after,
.email h2:focus::before,
.email h2:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}


.email {
  padding: 25px 0 10px 0;
}

.email h2 {
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}


/* Footer ------------------------------------------- */

.icon {
  width: 40px;
  opacity: .3;
  padding-left: .5rem;
  padding-right: .5rem;
}

.icon:hover {
  -webkit-transition: ease .75s all;
	-moz-transition: ease .75s all;
	-o-transition: ease .75s all;
  opacity: .8;
}

.top-text {
  position: relative;
  bottom: 2.75rem;
  color: #fff;
  opacity: .3;
  font-size: 10px;
}

.top-text:hover {
  -webkit-transition: ease .75s all;
  -moz-transition: ease .75s all;
  -o-transition: ease .75s all;
  opacity: .8;
}

.buttontri {
  width: 0; 
  height: 0; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid black;
	margin: 0 auto;
	position: relative;
	top: -35px;
}
    
#footer {
  height: auto;
  width: 100%;
  background-color: #000;
  padding: 10px 0px 10px 0px;
}

.copy {
  color: #757575;
  padding-top: 2rem;
}


