html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
}

ul {
  padding: 0;
}

body {
  margin: 0;
}

html { 
  font-family: 'Inconsolata',sans-serif;
}


a:-webkit-any-link {
    text-decoration: none !important;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/* NAV ------------------------*/

.logo {
  width: 12rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: rem;
  padding-top: 2.5rem;
}

h1{
  display: none;
}

.nav-item {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 0 1em;
}

.nav-list {
    text-align: center;
  }


@media only screen and (min-width: 45em) {
  .logo {
    margin-right: 0;
    margin-top: -4rem;
    float: left;
    margin-left: 19%;
  }

  .nav {
    padding-top: 5%;

  }

}

@media only screen and (min-width: 45em) {
  .nav-list {
    float: right;
    margin-right: 12.75%;
  }

}

@media only screen and (min-width: 45em) {

  .logo {
    margin-left: 15%;
  }

  .nav-list {
    margin-right: 15%;
  }

}

@media only screen and (min-width:110em) {

  .logo {
    margin-left: 21%;
  }

  .nav-list {
    margin-right: 20%;
  }
}

/* TYPO ----------------------*/

p {
  line-height: 1.25rem;
    margin: 0;
    font-family: 'Inconsolata', sans-serif;
}

.proj-title {
  letter-spacing: 2px;
  margin: 0;
}

.proj-tag {
  margin-bottom: 1rem;
}

.proj-info {
  color: #bbb;
  font-size: 14px;
  margin-top: .5rem;
}

.nav-item a {
  color: #000;
}

.nav-item a:active,
.nav-item a:hover {
  color: #aaa;
  -webkit-transition: ease 400ms all;
  -moz-transition: ease 400ms all;
  -o-transition: ease 400ms all;
}

.email {
  color: #aaa;
  -webkit-transition: ease 500ms all;
  -moz-transition: ease 500ms all;
  -o-transition: ease 500ms all;
}

.email:active,
.email:hover{
  color: #000;
}

/* HOME GRID ----------------------*/

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 8%;
}

.image-grid {
  position: relative;
}

.image-grid a {
  float: left;
  display: block;
  position: relative;
}

.image-grid a:hover,
.image-grid a:focus {
  opacity: 0.8;
}

.image-grid a:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border: 5px solid #fff;
  pointer-events: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


@media (min-width: 45em){

  .wrapper {
  width: 70%;
}

.image-grid a:nth-child(6n+1),
.image-grid a:nth-child(6n+2),
.image-grid a:nth-child(6n+6) {
  width: 50%;
}

.image-grid a:nth-child(6n+3),
.image-grid a:nth-child(6n+4),
.image-grid a:nth-child(6n+5) {
  width: 25%;
}

.image-grid a:nth-child(6n+5),
.image-grid a:nth-child(6n+6) {
  margin-top: -25%;
}

.image-grid a:nth-child(6n+6) {
  margin-left: 25%;
}
}

@media (min-width: 110em){
    .wrapper {
    width: 60%;
  }

}


/*PROJECT GRID ------------*/

.project-grid{
  margin: 0 auto;
}


.proj-desc {
  padding-bottom: 1rem;
}

.unit {
  margin: 0 auto;
  border: 5px solid white;
}

.unit-1 {
  width: 100%;
}



@media only screen and (min-width: 55em){

.project-grid {
  padding-top: 1rem;
}

.proj-desc {
  padding-bottom: 2rem;
}
  .unit {
  float: left;
}
  .unit-1-2{
    width: 50%;
  }

}


@media only screen and (min-width: 95em) {
    .project-grid {
      width: 86%;}
}

.back-btn a {
  color: #000;
  letter-spacing: 1px;
}

.back-btn {
  text-align: center;
  padding: 3rem 0;
}

.back-btn a:hover,
.back-btn a:active {
  color: #aaa;
  -webkit-transition: ease 400ms all;
  -moz-transition: ease 400ms all;
  -o-transition: ease 400ms all;
}


/* CONTACT ----------------*/
#contact {
  padding: 5em 0;
}

.contact-info {
  padding-left: 15%;
  width: 70%;
}

@media only screen and (min-width: 45em) {
  .contact-info {
  float: left;
  padding-left: 16%;
  width: 40%;
}
}

.social {
  position: relative;
  right: 16px;
  display: inline-block;
  margin-left: 15%;
}

@media only screen and (min-width: 45em) {
  .social {
  float: right;
  padding-right: 13%;

}
}

@media only screen and (min-width: 110em) {
    .contact-info {
    padding-left: 20%;
  }

  .social {
    padding-right: 19%;
  }

}

.icon {
  width: 45px;
  opacity: .3;
  padding-left: .5rem;
  padding-right: .5rem;
}

.icon:hover {
  -webkit-transition: ease .75s all;
  -moz-transition: ease .75s all;
  -o-transition: ease .75s all;
  opacity: .9;
}

/*COVER ------------*/
@font-face {
    font-family: "apercu";
    src: url(../fonts/apercu-regular.ttf) format("truetype");
}

.cover {
  background-color: #ffdcdc;
  width: 100%;
}

.pink-txt {
 position: absolute;
  width: 300px;
  height: 100px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -150px;
}

.p-email {
  font-size: 30px;
  color: #f74d4d;
  font-family: 'apercu', sans-serif;
  text-align: center;
  display: inherit;
}

.p-email:hover {
  opacity: .7;
  -webkit-transition: ease 500ms all;
  -moz-transition: 500ms .75s all;
  -o-transition: 500ms .75s all;

}

.cover-social {
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
}

.cover-social li {
  display: inline-block;
  padding: 0 .5rem;
}

.fa {
  color: #f74d4d;
  opacity: .5;
}

.fa:hover {
  opacity: .9;
  -webkit-transition: ease 500ms all;
  -moz-transition: 500ms .75s all;
  -o-transition: 500ms .75s all;
}
}